@use '../vars.scss' as *;

.ticket {
  width: 500px;
  height: 180px;
  border-radius: 10px;
  background-color: $white;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;

  &__wrapper {
    padding: 20px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__price {
    font-size: 24px;
    color: $main-color-blue;
    letter-spacing: 0;
  }

  &__body {
    margin-top: 15px;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    text-align: left;
  }

  &__item-info {
    width: 140px;
  }
  &__item-title {
    color: $text-color-grey-2;
  }

  &__item-text {
    text-transform: none;
    font-size: 14px;
    color: $text-color-grey;
  }
}
