@use '../vars.scss' as *;

.button__filter {
  width: 168px;
  padding: 15px;
  background-color: $white;
  border: 1px solid #dfe5ec;
  cursor: pointer;
  font-family: $main-font;
  font-size: $text-size-12;
  font-weight: $main-font-600;
  letter-spacing: $line-height-05;
  text-transform: uppercase;
}

.button__filter:first-child {
  border-radius: 10px 0 0 10px;
}

.button__filter:last-child {
  border-radius: 0 10px 10px 0;
}

.active {
  background-color: $main-color-blue;
  color: $white;
  border: 1px solid $main-color-blue;
}
